<br><br>


<div style="background-color: aqua; border: 2px solid black;">
    <form action="">

        <label for="">FirstName: </label>
        <input id="" name="" type="text"> <br><br>

        <label for="">LastName:- </label>
        <input id="" name="" type="text"> <br><br>

        <label for="">Email: </label>
        <input id="" name="" type="email"> <br><br>


        <label for="">phone: </label>
        <input id="" name="" type="number"> <br><br>

        <label>Course</label>
        <select>
            <option>Select</option>
            <option>BTech</option>
            <option>Degree</option>
            <option>MCA</option>

        </select> <br><br>


        <label for="">Gender: </label> <br>
        <input id="" name="radio" type="radio">Male <br>
        <input id="" name="radio" type="radio">Female <br>
        <input id="" name="radio" type="radio">Other <br><br>

        <label for="">Languages Known:- </label>
        <input id="" name="" type="checkbox"> Telugu
        <input id="" name="" type="checkbox"> Hindi
        <input id="" name="" type="checkbox"> English<br><br>

        <label for="">Password: </label>
        <input id="" name="" type="password"> <br><br>

        <label for="">Confirm Password: </label>
        <input id="" name="" type="password"><br><br>

        Address <br>
        <textarea cols="80" rows="5"></textarea> <br><br>

        <button>Submit</button>





    </form>
</div>