<div>
    Enter Your Name:- <input type="text" #fullname>
    Enter Your password:- <input type="password" #password>
    <button class="bg-indigo-500 ml-4 p-2 rounded-md" (click)="login(fullname.value,password.value)">Login</button>
</div>



<div>
    <br>
    Enter Your Name:- <input type="text" #fullname2> <br><br>
    Enter Your Password:- <input type="password" #password2> <br>
    <button class="bg-indigo-500 ml-4 p-2 rounded-md" (click)="login2(fullname2.value,password2.value)">Login</button>
</div>