<nav class="bg-success">
    <button mat-raised-button color="primary" routerLink="forms">TemplateForms</button> |
    <button mat-raised-button color="primary" routerLink="reactive">ReactiveForms</button> |
    <button mat-raised-button color="primary" routerLink="practice">Practice</button> |
    <button mat-raised-button color="primary" routerLink="routing">Routing</button> |
    <button mat-raised-button color="primary" routerLink="task">Task</button> |
    <button mat-raised-button color="primary" routerLink="quiz">QuizApp</button> |
    <button mat-raised-button color="primary" routerLink="pipes">Pipes</button> |
    <button mat-raised-button color="primary" routerLink="directives">Directives</button> |

</nav>